*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'cursive';
}
.navbar {
    background-color: #e9e9e9;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
}  
.navbar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: cursive;
    color: black;
} 
.navbar a:hover {
    background-color: #2196F3;
}
.img-text{
    background-image: url('img/4.jpg');
    background-size:cover;
    background-position: center;
    color:#e44e4a;
    font-size: 1em;
    text-align: left;
    text-shadow: 0 0 10 #000;
    height: 500px;
    line-height: 200px;
    margin: 0%;
    padding-left: 40px;
}
.img-text .btn {
    position: relative;
    bottom: 0%;
    left: 0%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.img-text .btn:hover {
    background-color: #2196F3;
}
.btn a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
/*footer*/
footer{
    background-color:darkslategrey;
    height: 300px;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px; 
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: darkslategrey;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: cursive;
}
.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color:darkslategray;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/*Page Facilities*/
.header h1{
    background-image: url('img/10.jpg');
    background-size: cover;
    font-family: cursive;
    background-position: center;
    color:#e44e4a;
    font-size: 3em;
    text-align: left;
    text-shadow: 0 0 10 #000;
    height: 500px;
    line-height: 200px;
    margin: 0%;
    padding-left: 40px;
}
.facilities-text{
    background-color: #fff;
}
.facilities-text h3{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
}
.facilities-text p{
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.info{
    border: gray 4px solid;
    background-color:rgb(222, 238, 243);
    border-radius: 10px;
    width: 310px;
    margin: 2px 2px 2px 5px;
    padding: 0;
    text-align: center;
    transition: background-color 0.5s 0s, width 0.5s 0s;
}
.info:hover{
    border: 4px solid #777;
    background-color: #2196F3;
    width: 90%;
    text-align: center;
}
.img-text1{
    display: flex;
}
.img-text1 i{
    display: flex;
    justify-content: center;
    width: 100%;
}
.text-facility{
    font-family: cursive;
    text-align: center;
}
.info p{
    text-align: center;
    padding: 10px;
    padding-left: 0;
    display: flex;
    gap:15px;
    width: 370px;
    font-size: 1.2em;
    font-family: cursive;
}
/*Classses styles*/
.header1 h1{
    background-image: url(img/18.jpg);
    background-size:cover;
    font-family: cursive;
    background-position: center;
    color:#e44e4a;
    font-size: 3em;
    text-align: left;
    text-shadow: 0 0 10 #000;
    height: 500px;
    line-height: 200px;
    margin: 0%;
    padding-left: 40px;
}
.classes{
    display: flex;
    width: 100%;
}
div.gallery {
    border: 3px #555 solid;
    width: 100%;
    border-radius: 15px;
    background-color:rgb(222, 238, 243);

    transition: background-color 0.5s 0s, width 0.5s 0s;
}
div.gallery:hover {
    border: 4px solid #777;
    background-color: #2196F3;
    width: 105%;
}  
div.gallery img {
    width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 5px;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
.responsive {
    padding: 0 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    display: flex;
    gap:15px;
    width: 330px;
    font-size: 1.2em;
    font-family: cursive;
}
.header-classes h1{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
}
.header-classes p{
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.header2{
    font-family: cursive;
    font-size: 1.5em;
    color:#555;
}
table{
    width: 280px;    
    font-family: cursive;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}  
#gname{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 1px #555 solid;
}
#kidname{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    border: 1px #555 solid;
}
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 1px #555 solid;
}
input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; 
    border: 1px #555 solid;   
}
input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 1px #555 solid;
}
input[type=Submit]{
    position: relative;
    bottom: 0%;
    left: 0%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
input[type=Submit]:hover{
    color: black;
    background-color: #2196F3;
}
.appointment{
    display: flex;
    margin: 20px;
    width: 97%;
    border: 4px grey solid;
    border-radius: 15px;
    background-color:rgb(222, 238, 243);
}
.appointment img{
    width: 500px;
    height: 650px;
    object-fit: fill;
    margin: 20px;
}
form{
    margin-left: 50px;
}
#app{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
    margin-bottom: 10px;
}

/*Teachers Page*/
.header2 h1{
    background-image: url(img/16.jpg);
    background-size:cover;
    font-family: cursive;
    background-position:top;
    color:#e44e4a;
    font-size: 3em;
    text-align: left;
    text-shadow: 0 0 10 #000;
    height: 500px;
    line-height: 200px;
    margin: 0%;
    padding-left: 40px;
}
.row{
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    border-radius: 30px;
}

.t-info {
    width: 33.3%;
    margin: 5px;
    display: flex;
    border: 4px grey solid;
    border-radius: 28px;
    background-color:rgb(222, 238, 243);

    transition: background-color 0.5s 0s, width 0.5s 0s;
}
.t-info:hover{
    border: 4px solid #777;
    background-color: #2196F3;
    width: 50%;
}
.t-image img{
    width: 100%;
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 20px;
}
.row1{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    border: 4px grey solid;
    background-color:rgb(222, 238, 243);
    border-radius: 30px;
    
}
.row1 img{
    width: 700px;
    object-fit: cover;
    padding: 15px;
    border-radius: 30px;
    height: 450px;
}
.t h1{
    text-align: center;
    padding-left: 30px;
    font-family: cursive;
    font-size: 3em;
    margin:auto;

}
.getstarted {
    border: lightblue;
    background-color: lightblue;
    width: 400px;
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
    font-size: 2em;
    font-family: cursive;
    border-radius: 20px;    
    padding: 12px 24px;
}
.getstarted:hover{
    background-color: #2196F3;
    cursor: pointer;
}
.container a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
    text-align: center;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container a:hover{
    background-color:rgb(222, 238, 243);
    transition: 0.5s;
    color: white;
}
.container p{
    text-align: center;
    font-family: cursive;
    font-style: normal;
    font-size: 1.2em;
    padding-left: 15px;
}
